version: 2.1
orbs:
  node: circleci/node@7.2.1
  codecov: codecov/codecov@4.2.0
jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - run: |
          wget http://archive.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1f-1ubuntu2_amd64.deb
          sudo dpkg -i libssl1.1_1.1.1f-1ubuntu2_amd64.deb
      - node/install-packages:
          cache-path: ~/project/node_modules
      - run: npm run test
      - codecov/upload
workflows:
  main:
    jobs:
      - test
